<!DOCTYPE html>
<html>
    <head>
    <title>Random User Generator</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="container">
            <h1 id="title">Random User Generator</h1>
            <div class="card">  
                <div class="person">
                    <div id="avatar">
                        <img id="avatar-pic" src="https://cdn.pixabay.com/photo/2014/04/03/10/32/user-310807_960_720.png">
                    </div>
                    <div class="information">
                        <div id="name">Full name</div>
                        <div id="nick">Nickname</div>
                        <div id="email">email@email.com</div>
                        <div id="phone">010 000 1001</div>
                        <br>
                        <div id="location">City, State</div>
                    </div>
                </div>
                    <button id="next-btn">Next user</button>
            </div>
        </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</html>