<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href ="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    
    <body>
        <div class = "ui fixed inverted menu navbar-width">
            <div class="ui container">
                <a href="/"><div class="header item"><i class="database icon"></i>Blog site</div></a>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        <div class="body-padding ui container content-font">
